#header {
    /* background-color: rgba(252, 254, 253, 1); */
    color: black;
    padding: 10px 20px;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

#header h1 {
    font-size: 1.9em;
    font-family: "Anek Devanagari", sans-serif;
    flex-grow: 1;
    margin: 0;
    text-align: center;
}

#logo {
    width: 50px;
    height: 25px;
    border-radius: 50%;
}

#ImgContainer {
    display: flex;
    align-items: center;
}

#home {
    width: 40px;
    height: 35px;
    cursor: pointer;
}

/* Responsive Design */
@media (max-width: 768px) {
    #header {
        padding: 15px;
    }

    #header h1 {
        font-size: 2.2em;
    }

     #home {
        width: 35px;
        height: 25px;
    }

    #logo{
        width: 40px;
        height: 35px; 
    }
}

#IntakeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    width: 93%;
    margin-left: 15px;
}

.intakeSection {
    background-color: #cee3f2;
    width: 90%;
    max-width: 769px;
    height: 18em; /* Slightly increased height */
    border-radius: 15px;
    margin: 2em 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.intakeSection img {
    max-width: 190px;
    /* margin-bottom: 1em; */
    margin-top: 20px;
}

.intakeSection button {
    background-color: #1582d0;
    border: none;
    width: 80%;
    max-width: 300px;
    font-family: "Anek Devanagari", sans-serif;
    color: aliceblue;
    border-radius: 15px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    line-height: 45px;
    margin-top: 35px;
}

/* Responsive adjustments */
@media (min-width: 769px) {
    .intakeSection {
        flex-direction: row;
        justify-content: space-between;
        padding: 0;
        height: 20em; 
    }

    .intakeSection img {
        margin-bottom: 0;
        margin-left: 2em;
    }

    .intakeSection button {
        margin-right: 2em;
    }
}
